
// segunda coluna da grid começar mais embaixo
@function middle-child(
  $max-children,
  $min-children: 1,
  $when-even: 'both',
  $base-selector: "&"
){
  $selector: join((),(),comma);

  
  @for $i from ceil(calc($min-children / 2)) through calc($max-children / 2 + 1) {
    $selector: append($selector, "#{$base-selector}:nth-child(#{$i}):nth-last-child(#{$i})");

    @if not in-list($when-even, ('before', 'none')) {
      $selector: append($selector, "#{$base-selector}:nth-child(#{$i}):nth-last-child(#{$i - 1})");
    }

    @if not in-list($when-even, ('after', 'none')) {
      $selector: append($selector, "#{$base-selector}:nth-child(#{$i}):nth-last-child(#{$i + 1})");
    }
  }

  @return $selector;
}

.projects {
    height: auto;

    .container {
        max-width: 890px;
        width: 100%;
        margin: 50px 0 50px 12%;

        @include size(medium){
            margin: 50px 0;
            max-width: 100%;
            padding: 0 30px;
        }

        h3 {
            @include title-text;
             & {
                margin-bottom: 112px;

                @include size(medium){
                    margin-bottom: 50px;
                }
             }            
        }

        .wrapper-projects {
            column-count: 2;
            column-gap: 10px;
            max-width: 890px;
            width: 100%;

            @include size(medium){
                column-gap: 30px;
            }

            @include size(small){
                column-count: 1;
            }

            a {
                text-decoration: none;
                color: $light;
                margin: 0;
                display: grid;
                grid-template-rows: 1fr 1fr;
                margin-bottom: 10px;
                break-inside: avoid;
                max-width: 370px;

                @include size(small){
                    display: block;
                }

                #{middle-child(14, $when-even: 'after')} {
                    //background-color: red;

                    & > img {
                        margin-top: 200px;

                        @include size(small){
                            margin-top: auto;
                        }
                    }
                }


                img {
                    max-width: 370px;
                    width: 100%;
                    min-height: 310px;
                    background-color: rgb(184, 184, 184);
                    display: block;
                    margin-bottom: 16px;
                    border-radius: 40px;
                    transition: all .2s ease-in-out;

                    grid-row: 1 / -1;
                    grid-column: 1;
                }

                // &:nth-child(5){
                //     margin-top: 250px;

                //     @include size(medium){
                //         margin-top: 0;
                //     }
                // }

                p {
                    font-size: 18px;
                    line-height: 28px;
                    margin-bottom: 72px;
                    font-weight: 700;
                    text-align: center;

                    @include size(medium){
                        margin-bottom: 50px;
                    }

                    @include size(small){
                        margin-bottom: 40px;
                    }

                }

                &:hover {
                    img {
                        transform: scale(1.02);
                    }
                }
            }

            // & > * {
            //     #{middle-child(14, $when-even: 'after')} {
            //         color: blue;
            //         background-color: red;
            //         margin-top: 100px;
            //     }
            // }
        }
    }

}
