.skills {

    //height: auto;
    .container {
        max-width: 950px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 50px 0 50px 12%;
        align-items: center;

        @include size(medium){
            margin: 50px 0;
            max-width: 100%;
            padding: 0 30px;
            display: block;
        }

        .text {
            max-width: 585px;
            width: 100%;

            @include size(medium){
                max-width: 100%;
            }

            @include size(small){
                margin-bottom: 40px;
            }

            h2 {
                @include title-text;
            }

            p {
                @include p-text;
                & {
                    font-size: 18px;
                    line-height: 28px;
                }
            }
        }

        .experience {
            max-width: 244px;
            padding-right: 20px;

            h3 {
                color: $pink;
                font-size: 24px;
                line-height: 38px;
                font-weight: 700;
                margin-bottom: 32px;
            }

            ul {
                li {
                    margin-bottom: 20px;
                    p {
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 28px;
                    }

                    span {
                        font-size: 16px;
                        line-height: 25px;
                    }
                }
            }

        }

        .skill-list {
            h3 {
                color: $pink;
                font-size: 24px;
                line-height: 38px;
                font-weight: 700;
                margin-bottom: 32px;
            }

            ul {
                display: flex;
                align-items: flex-start;
                align-content: flex-start;
                flex-wrap: wrap;
                justify-content: flex-start;
                gap: 10px;

                li {
                    font-size: 14px;
                    font-weight: 300;
                    color: $light;
                    border: 1px solid #6040FF;
                    border-radius: 100px;
                    padding: 8px 10px;
                    cursor: default;
                }
            }
        }
    }

}